# STRINGS

In [ ]:
# Strings are textual data / Collection of characters  
# You can create strings by enclosing text in single quotes ('') or double quotes ("") and ''' for long paragraphs

In [28]:
"Tsungi"

'Tsungi'

In [29]:
"""This is a string that spans across."""

'This is a string that spans across.'

In [30]:
#STRING INDEXING  ~ Python starts from zero

word = "PYTHON"

#Positive indexing (left to right)
print(word[0]) # First letter
print(word[1]) #Second letter

#Negative indexing (Right to left)
print(word[-1]) #last letter

P
Y
N

In [31]:
#STRING SLICING ~ the syntax is [start:stop] NOTE the stop index is exlusive(not included in the result)
text = "NAIROBI"

#Grab from index 0 upto (but not including ) 3
print(text[0:3])

#Grab from index 3 to the end 
print(text[3:])

NAI
ROBI

In [21]:
##OPERATIONS IN STRINGS
#STRING CONCATENATION ~ To join or repeat

In [49]:
#Concatenation (+)
a = "HARRY"
b = "MAGUIRE"
print(a + " " + b)

#Repetition (*)
word = "Goal!"
print("Goal! " *3)

HARRY MAGUIRE
Goal! Goal! Goal!

In [50]:
#ESCAPE CHARACTERS
# \n ~ New line (moves to the next line)
# \t ~ Tab (add a large space)
#\' or \" ~ Quotes (print a quote sysmbol
#\\  ~ Backslash (prints a literal backslash) 

print("My name is Tsungi.\nl am 23 yers old.")
print('It\'s a beautiful day')

My name is Tsungi.
l am 23 yers old.
It's a beautiful day

In [46]:
##STRING REPETITION

print("HARRY"*4) #Repeats without spacing
print("HARRY "*4) #Repeats with spacing

#check a string type
print(type ("HARRY"))

HARRYHARRYHARRYHARRY
HARRY HARRY HARRY HARRY
<class 'str'>

In [10]:
#Anything inside the "" becomes a string automatically eg 3 is an int but because its inside the quotes becomes a string automatically
type("3")

str

# VARIABLES

In [53]:
#Variables ~ name or label refers to a value stored in the computer's memory. Allows to store or retrieve data and manipulate it later

#The must Dos ~ Variables start with a letter (a-z,A-Z) or an underscore(_)
#The must Dos ~ Variables contain only letters, numbers, or underscores
#The must Dos ~ Variables are case sensitive : age, Age, AGE are three different things

first_name = "Tsungi"
age_2024 = 23
_secrete_code = 1234

#The Don'ts ~ No starting with a number (eg 1st_prize is invalid)
#The Don'ts ~ No spaces (eg my name is invalid) Use underscores instead (my_name)
#The Don'ts ~ No using python keywords (words tha mean speacial to python like print,if,for, True) print = "text" is invalid

In [55]:
#Naming Conventions (Snake case) means using all lowercase letters and separating words with underscores)
first_name = "Harry"
second_name = "Maguire"

print(first_name)
print(second_name)

Harry
Maguire

In [57]:
Name = "Tsungi"

Name  #means print name

'Tsungi'

In [64]:
#Re-assingment ~ Variables can vary(change)

score = 0
print("Start of the match:", score)

score = 1
print("After first goal:", score)

score = score +1
print("After second goal:", score)

Start of the match: 0
After first goal: 1
After second goal: 2

In [65]:
x = 10
x = 10+1

print (x)

x = 10
x += 1

print(x)

11
11

In [66]:
#VARIABLE  MULTIPLE ASSIGNMENTS
#Assigning different values to different variables

mike, joyce, vic = 23, 56, 11

print(joyce)
print(joyce,mike)

#Assigning the SAME value to multiple variables

a = b = c = 100
print(a)
print(b)

56
56 23
100
100

In [28]:
# STRING INTERPOLATION / FORMATTING (f~string)

In [35]:
name = "Tsungi"
age = 23
school = "ALU"
location = "Rwanda"

intro = f"My name is {name} . l am {age} years old. l school at {school} , and I live in {location}."

In [36]:
print (intro)

My name is Tsungi . l am 23 years old. l school at ALU , and I live in Rwanda.

In [10]:
amountr = 5000
sender = "xyz"
balance = 4000
sample = f"Confirmed. You have received {amountr} from {sender} on 19/02/26. New account balance is {balance + amountr} ."

In [11]:
print (sample)

Confirmed. You have received 5000 from xyz on 19/02/26. New account balance is 9000 .

In [12]:
# INPUT FUNCTION AND NEW BALANCE ~ Include float function to convert a string to float

In [4]:
amountr = float(input("Enter the amount:"))
sender = input("Enter the sender:")
balance = float(input("Enter the balance:"))
sample = f"Confirmed. You have received {amountr} from {sender} on 19/02/26. New account balance is {balance + amountr} ."

print(sample)

Enter the amount: 1000
Enter the sender: Tsungi
Enter the balance: 500

Confirmed. You have received 1000.0 from Tsungi on 19/02/26. New account balance is 1500.0 .